# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# Parcel cache
.cache/
.parcel-cache/

# Build output
/dist

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env
.env.local